<div class="grid-row">
    <div class="col-xs-9">
        <h4>Все аккаунты (<span ng-bind="userOrder.length">...</span>)</h4>
    </div>
    <div class="col-xs-3 inline-right">
        <label ng-bind="userOrder.length">...</label>
        <small>аккаунтов</small>
        <label ng-bind="activeUsers.length">...</label>
        <small class="note">активно</small>
        <label ng-bind="blockedUsers.length">...</label>
        <small class="note">заблокировано</small>
    </div>
</div>
<div class="grid-row">
    <table class="table table-hover">
        <thead>
            <tr>
                <td class="min"></td>
                <th>Логин</th>
                <th>Название</th>
                <th>Состояние</th>
                <th>Куратор</th>
                <th>Сервер</th>
                <th>Срок Активности</th>
                <th>Последнее ...</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="userID in usersShow">
                <td>
                    <a href="javascript:void(0);" ng-click="favoriteUser($event, userID)" ng-class="(favoriteUsers[userID]?'favorite':'')" aria-hidden="true">
                        <i class="glyphicon glyphicon-star default"></i>
                    </a>
                </td>
                <td><a ng-href="/sumstat/view/?user={{userID}}">{{userList[userID].TITLE}}</a></td>
                <td ng-bind="userList[userID].TITLE"></td>
                <td ng-bind="userList[userID].BLOCKED=='0'?'Заблокирован': 'Активен'"></td>
                <td ng-bind="userList[userID].CURATOR"></td>
                <td ng-bind="userList[userID].DOMAIN"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="grid-row">
        <uib-pagination
            items-per-page="20"
            max-size="10"
            boundary-links="true"
            total-items="userCount"
            ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
        ></uib-pagination>

    </div>
</div>