<div class="grid-row">
    <div class="pull-left">
        <h4>Все аккаунты (<span ng-bind="userList.length">...</span>)</h4>
    </div>

    <div class="pull-right">
        <label ng-bind="userList.length" class="text-primary">...</label>
        <small class="note-up">аккаунтов</small>
        &nbsp;
        <label ng-bind="activeUsers.length" class="text-success">...</label>
        <small class="note-up">активно</small>
        &nbsp;
        <label ng-bind="blockedUsers.length" class="text-danger">...</label>
        <small class="note-up">заблокировано</small>
    </div>


</div>
<div class="grid-row">
    <table class="table table-hover">
        <thead>
            <tr>
                <td class="min"></td>
                <th>
                    <a href="#" ng-click="sortType = 'ID'; sortReverse = !sortReverse">
                        Логин
                        <span ng-show="sortType == 'ID' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'ID' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </a>

                </th>

                <th>
                    <a href="#" ng-click="sortType = 'TITLE'; sortReverse = !sortReverse">
                        Название
                        <span ng-show="sortType == 'TITLE' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'TITLE' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </th>
                <th>Состояние</th>
                <th>Куратор</th>
                <th>Сервер</th>
                <th>Срок Активности</th>
                <th>Последнее ...</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="userItem in userList | orderBy:sortType:sortReverse | sumstatPaginationFilter:currentPage:20"  class="{{isFavoriteUser(userItem.ID)?'ui-favorite-row':''}}" ng-animate="{enter: 'app-enter', leave: 'app-leave', move: 'app-leave-setup'}">
                <td>
                    <a ng-if="!isFavoriteUser(userItem.ID)" class="ui-favorite-add" href="javascript:void(0);" ng-click="favoriteUser($event, userItem.ID)" aria-hidden="true" title="Добавить в избранные">
                        <i class="glyphicon glyphicon-star default"></i>
                    </a>
                    <i ng-if="isFavoriteUser(userItem.ID)" class="glyphicon glyphicon-star yellow"></i>
                </td>
                <td><a ui-sref="sumstat.view.detail({ userId: '{{userItem.ID}}' })" >{{userItem.ID}}</a></td>

                <td ng-bind="userItem.TITLE"></td>
                <td ng-bind="userItem.BLOCKED=='0'?'Заблокирован': 'Активен'"></td>
                <td ng-bind="userItem.CURATOR"></td>
                <td ng-bind="userItem.DOMAIN"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="grid-row">
        <uib-pagination
            items-per-page="20"
            max-size="10"
            boundary-links="true"
            total-items="userCount"
            ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
        ></uib-pagination>

    </div>
</div>