<header class="grid-row animation-fade" ng-if="userCount.length != 0">
    <div class="pull-left">
        <h4 class="ui-section-name">Все аккаунты (<span ng-bind="userCount">...</span>)</h4>
    </div>

    <div class="pull-right ui-top-stat-panel">
        <big ng-bind="userCount" class="text-primary">...</big>
        <small class="note-up">аккаунтов</small>
        &nbsp;
        <big ng-bind="activeUsers.length" class="text-success">...</big>
        <small class="note-up">активно</small>
        &nbsp;
        <big ng-bind="blockedUsers.length" class="text-danger">...</big>
        <small class="note-up">заблокировано</small>
    </div>
</header>

<div class="grid-row container-fluid animation-fade" ng-if="userCount.length != 0">
    <table class="table table-hover">
        <thead>
            <tr>
                <td class="min">&nbsp;</td>
                <td>
                    <a href="#" ng-click="changeSort('ID')">
                        Логин
                        <span ng-show="sortType == 'ID' && !sortReverse" class="icon glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'ID' && sortReverse" class="icon glyphicon glyphicon-chevron-up"></span>
                    </a>

                </td>

                <td>
                    <a href="#" ng-click="changeSort('TITLE')">
                        Название
                        <span ng-show="sortType == 'TITLE' && !sortReverse" class="icon glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'TITLE' && sortReverse" class="icon glyphicon glyphicon-chevron-up"></span>
                    </a>
                </td>
                <td>Состояние</td>
                <td>Куратор</td>
                <td>Сервер</td>
                <td>
                    <uib-dropdown  class="ui-table-dropdown" auto-close="outsideClick">
                        <a href id="ui-accountstable-dropdown" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </a>
                        <ul class="uib-dropdown-menu pull-right" aria-labelledby="ui-accountstable-dropdown">
                            <li class="dropdown-header">
                                Вывести колонки 
                            </li>
                            <li ng-repeat="item in tableCols" class="ui-table-dropdown-item">
                                <label data-item="{{item.key}}">
                                  <input type="checkbox"  ng-click="checkOnDrop($event,item.key)"> {{item.name}}
                                </label>
                            </li>
                        </ul>
                    </uib-dropdown>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="userItem in userList | orderBy:sortType:sortReverse | sumstatPaginationFilter:currentPage:20 | searchFilter:search"  class="{{isFavoriteUser(userItem.ID)?'ui-favorite-row':''}}" ng-animate="{enter: 'app-enter', leave: 'app-leave', move: 'app-leave-setup'}">
                <td>
                    <a ng-if="!isFavoriteUser(userItem.ID)" class="ui-favorite-add" href="javascript:void(0);" ng-click="favoriteUser($event, userItem.ID)" aria-hidden="true" title="Добавить в избранные">
                        <i class="glyphicon glyphicon-star default"></i>
                    </a>
                    <i ng-if="isFavoriteUser(userItem.ID)" class="glyphicon glyphicon-star yellow"></i>
                </td>
                <td><a ui-sref="sumstat.view.detail({ userId: '{{userItem.ID}}' })" ng-bind="userItem.ID"></a></td>

                <td ng-bind="userItem.TITLE"></td>
                <td ng-bind="userItem.BLOCKED=='0'?'Заблокирован': 'Активен'"></td>
                <td ng-bind="userItem.CURATOR"></td>
                <td ng-bind="userItem.DOMAIN"></td>
                <td>
                    <uib-dropdown id="fn-account-row_dropdown-{{userItem.ID}}"  class="ui-table-dropdown">
                        <a href uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </a>
                        <ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="fn-account-row_dropdown-{{userItem.ID}}">
                            <li role="menuitem"><a target="_blank" href="#">Перейти к defer</a></li>
                            <li role="menuitem"><a target="_blank" href="#">Перейти к chenv</a></li>
                            <li class="disabled"><a>Перейти к chrughts</a></li>
                        </ul>
                    </uib-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="grid-row">
        <uib-pagination
            items-per-page="20"
            max-size="10"
            boundary-links="true"
            total-items="userCount"
            ng-model="currentPage"
            ng-change="pageChanged(currentPage)"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
        ></uib-pagination>

    </div>
</div>

<div ng-if="userCount.length == 0" class="animation-fade">
    Wait please ...
</div>