<div class="inline ui-favorites">
	<i class="glyphicon glyphicon-star yellow icon-favorite" aria-hidden="true"></i>

	<div class="btn-group btn-group-xs ui-favorite-item  hidden-sm" ng-repeat="item in favoriteUsers">
		<a ng-href="/sumstat/view/{{item}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-user "></i> {{userList[userListLink[item]].TITLE}}</a>
		<button type="button" class="ui-favorites_remove-item btn btn-default btn-xs" ng-click="removeFromFavorites(item)" title='Удалить "{{userList[userListLink[item]].TITLE}}" из избранных'>&times;</button>
	</div>

	<div class="visible-sm-block visible-xs-block">
		Избранные ...
	</div>

	<!--
	<ul ng-if="favoriteUsers.length!=0">
		<li ng-repeat="item in favoriteUsers">
			<a ng-href="/sumstat/view/{{item}}"><i class="glyphicon glyphicon-user "></i> {{userList[userListLink[item]].TITLE}}</a>
			<button type="button" class="ui-favorites_remove-item btn btn-default btn-mini" ng-click="removeFromFavorites(item)" title='Удалить "{{userList[userListLink[item]].TITLE}}" из избранных'><i class="glyphicon glyphicon-remove "></i></button>
		</li>
	</ul>
	-->
	<small ng-if="list.length==0">Избранных пользоветелей нет ...</small>
</div>