<!-- Compile Date: 2016-02-15 19:10:46 //-->

<!DOCTYPE html>

<html lang="ru" ng-app="app" ng-controller="MainCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="windowTitle">Sendsay Admin</title>
	<meta name="description" content="">
	<base href="/">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css?1455552646870">
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.css?1455552646870">

	
	<link rel="stylesheet" href="build.min.css?1455552646870">
	

	<!-- Libs -->
	
	<script src="libs/jquery/dist/jquery.min.js?1455552646870"></script>
	<script src="libs/lodash/lodash.min.js?1455552646870"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.min.js?1455552646870"></script>
	<script src="libs/angular/angular.js?1455552646870"></script>
	<script src="libs/angular-ui-router/release/angular-ui-router.js?1455552646870"></script>
	<script src="libs/angular-local-storage/dist/angular-local-storage.min.js?1455552646870"></script>
	<script src="libs/angular-animate/angular-animate.js?1455552646870"></script>
	<script src="libs/angular-bootstrap/ui-bootstrap.js?1455552646870"></script>
	<script src="libs/angular-bootstrap/ui-bootstrap-tpls.js?1455552646870"></script>
	<script src="libs/moment/moment.js?1455552646870"></script>
	<script src="libs/angular-moment/angular-moment.js?1455552646870"></script>
	<script src="libs/moment/locale/ru.js?1455552646870"></script>
	
	<!-- App js -->
	
	<script src="build.min.js?1455552646870"></script>
	
</head>

<body ng-cloak>
	<div  ng-if="isAuthenticated">

		<header class="ui-top">
			<div class="clearfix">
				<div class="col-sm-5 inline">
					<ng-include src="'pages/root/top_search.html'"></ng-include>
				</div>
				<div class="col-sm-7 inline">
					<ng-include
						src="'pages/root/favorits.html'"
						class="animation-left"
					></ng-include>
				</div>
			</div>
		</header>

		<ng-include src="'pages/root/logo.html'"></ng-include>

		<ng-include 
			src="'pages/root/navigation.html'" 
			class="animation-left"
			ng-controller="NavogationCtrl"
		></ng-include>

		<div ui-view class="animation-fade"></div>
	</div>

	<div ng-if="!isAuthenticated">
		<ng-include 
			src="'pages/auth/template.html'" 
			class="animation-left"
		></ng-include>
	</div>

</body>

</html>
